body {
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-right: 130px;
}

.header {
    border: solid red; /* For De-bugging */
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}
.header .links {
    border: solid green; /* For De-bugging */
    display: flex;
}

#header-links {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin-left: 0;
}

.content {
    border:solid green; /* For De-bugging */
    flex: 1 0 auto;
}

.footer {
    border:solid blue; /* For De-bugging */
    color: #E5E7EB;
    flex-shrink: 0;
    height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-main-text {
    
}
.information-header-text {
    background-color: white;
}
.quote-section {
    background-color: #E5E7EB;

}
.call-to-action {
    background-color: white;
}